
/* Untuk animasi */
/* .transition-opacity {
  transition: opacity 0.2s ease;
} */
  
/* Untuk input yang lebih rapi */
/* input, select {
  min-width: 200px;
  padding: 0.3rem 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;  
}
  
input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
} */

.editbtn {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0.2em;
  width: 1.5em;
  height: 1.5em;
}

.editbtnconfirm {
  box-sizing: border-box;
  padding: 0 0 0 0.05em;
  width: 1.5em;
  height: 1.5em;
}
